


<my-rental-list [rentalList]="rentalList"></my-rental-list>


<div style="display:flex; justify-content:space-around; flex-wrap: wrap">
  
  <div
    *ngFor="let flop of flops$ | async" 
    class="card bg-dark text-light mb-3">
    <div class="card-body">
    <img 
    [src]="flop.imageUrl" 
    alt=""
    >

      <div style="display:flex; justify-content:space-between">
        <button
          class="btn btn-success btn-sm" 
          (click)="onRentClick($event, flop)"
          >Rent</button>


        <a [routerLink]="['/flops', flop.id, 'edit']">Edit</a>
      </div>
    </div>
  </div>

</div>